#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.weather-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  padding: 3rem;
  background-color: rgba(180, 247, 247, 0.486);
}

.weather-image{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-image > article{
  display: flex;
  gap: 5rem;
}

.weather-image > p{
  font-size: 90px;
}

.weather-image > article > img{
  max-width: 300px;
}

.weather-icon{
  min-width: 200px;
}

body{
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.wthr-name{
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .weather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: 3rem;
    background-color: rgba(180, 247, 247, 0.486);
    width: 70vw;
    height: 45vh;
  }
  .weather-image > p{
    font-size: 50px;
  }
} 